@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    
}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://res.cloudinary.com/dxfq3iotg/raw/upload/v1569006288/BBBootstrap/choices.min.css?version=7.0.0">
<script src="https://res.cloudinary.com/dxfq3iotg/raw/upload/v1569006273/BBBootstrap/choices.min.js?version=7.0.0"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<div class="card">
    <div class="card-header">
        Sujet
    </div>
    <div class="card-body">
        <h5 class="card-title">Ajouter un nouveau sujet</h5>
        <form method="post">
            <div class="form-group">
                <label for="inputTitre">Titre</label>
                <input type="text" class="form-control" id="Titre" name="Titre" placeholder="Titre sujet">
            </div>

            <div class="form-check">
                <input type="checkbox" class="form-check-input" value="true" id="Noter" name="Noter"  checked>
                <label class="form-check-label" for="exampleCheck1">Noter</label>            
            </div>
            <br />
            <div class="form-group" id="show">
                <label for="inputTitre">Coefficient</label>
                <input type="number" class="form-control" id="inputcoefficient" name="Coeficient" placeholder="Coefficient du sujet">
            </div>



            <button type="submit" class="btn btn-primary" asp-action="AddSujet">Ajouter</button>
        </form>

    </div>
</div>



<script>
    const checkbox = document.getElementById('Noter')
    checkbox.addEventListener('change', (event) => {
        if (event.target.checked) {
            document.getElementById("show").style.visibility = "visible";
        } else {
            document.getElementById("show").style.visibility = "hidden";
        }
    })
    $(document).ready(function () {

        var multipleCancelButton = new Choices('#choices-multiple-remove-button', {
            removeItemButton: true,
            maxItemCount: 5,
            searchResultLimit: 5,
            renderChoiceLimit: 5
        });


    });
</script>

     
