@using Microsoft.AspNetCore.Http
@using Atlas_frontend.Services
@using Atlas_frontend.Models.Enums
@inject ICompteService CompteService
@inject IHttpContextAccessor HttpContextAccessor
@{
    bool connected = CompteService.IsConnected(HttpContextAccessor.HttpContext.Session);
    bool isAdministrator = CompteService.HasRole(HttpContextAccessor.HttpContext.Session, RankEnum.Administrator);
    bool isFinance = CompteService.HasRole(HttpContextAccessor.HttpContext.Session, RankEnum.Finance);
    bool isUser = CompteService.HasRole(HttpContextAccessor.HttpContext.Session, RankEnum.User);
    bool isManager = CompteService.HasRole(HttpContextAccessor.HttpContext.Session, RankEnum.Manager);
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Atlas</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Atlas</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        @if (connected)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                            </li>
                            @if (isManager)
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Projet" asp-action="List">Projets</a>
                                </li>
                            }
                            @if (isAdministrator)
                            {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Sujet" asp-action="List">Sujets</a>
                            </li>
                            }
                            @if (isUser)
                            {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Evaluation" asp-action="Liste">Evaluation</a>
                            </li>
                            }

                            @if (isUser)
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Rapport" asp-action="List">Rapport d'activité</a>
                                </li>
                            }
                            @if (isManager)
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Rapport" asp-action="Valider">Validation des rapports</a>
                                </li>
                            }

                                @if (isManager || isUser)
                                {
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Mission" asp-action="Index">Missions</a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Frais" asp-action="Index">Frais</a>
                                    </li>
                                }
                                @if (isFinance)
                                {

                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Frais" asp-action="Index2">Remboursement</a>
                                    </li>
                                }





                                @if (isAdministrator)
                                {
                                    <li class="nav-item dropdown">
                                        <a class="nav-link text-dark dropdown-toggle" data-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false">Administration</a>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" asp-area="" asp-controller="User" asp-action="Index">Gestion d'utilisateurs</a>
                                            <a class="dropdown-item" asp-area="" asp-controller="Compte" asp-action="Index">Gestion des comptes</a>
                                            <a class="dropdown-item" asp-area="" asp-controller="Role" asp-action="Index">Gestion des rôles</a>
                                            <a class="dropdown-item" asp-area="" asp-controller="Configuration" asp-action="Index">Gestion des configurations</a>
                                        </div>
                                    </li>
                                }
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Absence" asp-action="Index">Absences</a>
                                </li>
                            }

                        </ul>
                </div>
                @if (connected)
                {
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="Identity" asp-controller="Login" asp-action="SignOut">Logout</a>
                            </li>
                        </ul>
                    </div>
                }
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - Atlas - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
