<p>Bonjour #_MANAGER_FULLNAME_#,</p>
<p>L'utilisateur <strong>#_USER_FULLNAME_#</strong> a fait une demande de cong&eacute;.</p>
<p>Merci de voir la demande sous l'onglet &laquo;Absence&raquo; et de valider ou refuser cette derni&egrave;re.</p>
<p>&nbsp;</p>
<p><span style="text-decoration: underline;"><span style="color: #ff0000; text-decoration: underline;"><em>Remarque</em></span></span><em><span style="text-decoration: underline;"><span style="color: #ff0000; text-decoration: underline;">:</span></span> <span style="color: #ff0000;">On ne va jamais vous demander de nous renseigner vos information d'authentification. Merci donc de ne communiquer ces informations &agrave; personne.</span></em></p>
<p>&nbsp;</p>
<p><span style="color: #000000;">Cordialement,</span></p>
<p><span style="color: #000000;">L'&eacute;quipe Atlas</span></p>