<p>Bonjour #_USER_FULLNAME_#,</p>
<p>Votre demande de cong&eacute; a &eacute;t&eacute; valid&eacute;, merci de voir le r&eacute;capitulatif sous l'onglet &laquo;Absence&raquo;.</p>
<p><span style="text-decoration: underline;"><span style="color: #ff0000; text-decoration: underline;"><em>Remarque</em></span></span><em><span style="text-decoration: underline;"><span style="color: #ff0000; text-decoration: underline;">:</span></span> <span style="color: #ff0000;">On ne va jamais vous demander de nous renseigner vos information d'authentification. Merci donc de ne communiquer ces informations &agrave; personne.</span></em></p>
<p>&nbsp;</p>
<p><span style="color: #000000;">Cordialement,</span></p>
<p><span style="color: #000000;">L'&eacute;quipe Atlas</span></p>