@model Atlas_frontend.Models.UserModel

@{
    ViewData["Title"] = "Edit";

    List<UserModel> userList = ViewBag.users ?? new List<UserModel>();
}

<h1>Modifier l'utilisateur</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" hidden>
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nom" class="control-label"></label>
                <input asp-for="Nom" class="form-control" />
                <span asp-validation-for="Nom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prenom" class="control-label"></label>
                <input asp-for="Prenom" class="form-control" />
                <span asp-validation-for="Prenom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Poste" class="control-label"></label>
                <input asp-for="Poste" class="form-control" />
                <span asp-validation-for="Poste" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProfileImage" class="control-label"></label>
                <div class="custom-file">
                    <input asp-for="ProfileImage" class="custom-file-input" id="customFile">
                    <label class="custom-file-label" for="customFile">Choose file</label>
                </div>
                <span asp-validation-for="ProfileImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateNaissance" class="control-label"></label>
                <input asp-for="DateNaissance" class="form-control" />
                <span asp-validation-for="DateNaissance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateContrat" class="control-label"></label>
                <input asp-for="DateContrat" class="form-control" />
                <span asp-validation-for="DateContrat" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.DropDownList("idChef",
                    new SelectList(userList, "Id", "FullName"),
                    "Sélectionner un chef",
                   new { @class = "form-control" }
               )
                @Html.ValidationMessage("idChef", "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <input type="submit" value="Enregistrer" class="btn btn-sm btn-warning" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Retour à la liste d'utilisateurs</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
            //show file name
            $(".custom-file-input").on("change", function () {
                var fileName = $(this).val().split("\\").pop();
                $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
            });
    </script>
}
