
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Atlas</h1>
    <img src="~/images/atlas.jpg"
         class="rounded-circle"
         height="400" width="400"/>
</div>
