@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://res.cloudinary.com/dxfq3iotg/raw/upload/v1569006288/BBBootstrap/choices.min.css?version=7.0.0">
<script src="https://res.cloudinary.com/dxfq3iotg/raw/upload/v1569006273/BBBootstrap/choices.min.js?version=7.0.0"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<div class="card">
    <div class="card-header">
      Projet
    </div>
    <div class="card-body">
        <h5 class="card-title">Ajouter un nouveau projet</h5>
        <form method="post">
            <div class="form-group">
                <label for="inputTitre">Titre</label>
                <input type="text" class="form-control" id="inputTitre" name="Titre" placeholder="Titre projet">
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="DateCreation">Date debut</label>
                    <input type="date" max="3000-12-31" min="1000-01-01" class="form-control" name="DateCreation" id="DateCreation" placeholder="Date debut projet">
                </div>
                <div class="form-group col-md-6">
                    <label for="DateCloture">Date fin</label>
                    <input type="date" max="3000-12-31" min="1000-01-01" class="form-control" name="DateCloture" id="DateCloture" placeholder="Date fin projet">
                </div>
            </div>
            <div class="form-group">
                <label for="lstMembre">Liste des membre de projet</label>
                <select id="choices-multiple-remove-button" placeholder="Selectionner les memebres de projet " multiple name="Membres">
                    <option value="HTML">HTML</option>
                    <option value="Jquery">Jquery</option>
                    <option value="CSS">CSS</option>
                    <option value="Bootstrap 3">Bootstrap 3</option>
                    <option value="Bootstrap 4">Bootstrap 4</option>
                    <option value="Java">Java</option>
                    <option value="Javascript">Javascript</option>
                    <option value="Angular">Angular</option>
                    <option value="Python">Python</option>
                    <option value="Hybris">Hybris</option>
                    <option value="SQL">SQL</option>
                    <option value="NOSQL">NOSQL</option>
                    <option value="NodeJS">NodeJS</option>
                </select>

            </div>
            <button type="submit" class="btn btn-primary" asp-action="AddProject">Ajouter</button>
        </form>

    </div>
</div>


<script>
    $(document).ready(function () {

        var multipleCancelButton = new Choices('#choices-multiple-remove-button', {
            removeItemButton: true,
            maxItemCount: 5,
            searchResultLimit: 5,
            renderChoiceLimit: 5
        });


    });
</script>