@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="card">
    <div class="card-header">
        Projet
    </div>
    <div class="card-body">
        <h5 class="card-title">Liste des projets</h5>
        <a class="btn btn-success" asp-action="Index" style="margin-left: 88%;">Ajouter projet</a>
        <br /><br />
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Titre</th>
                    <th scope="col">Date debut</th>
                    <th scope="col">Date fin</th>
                    <th scope="col">Estimation Total</th>
                    <th scope="col">Rubrique</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>

                    <td>projet1</td>
                    <td>04-11-2020</td>
                    <td>04-11-2021</td>
                    <td>0/255</td>
                    <td><button data-toggle="modal" data-target="#exampleModal" type="button" class="btn btn-info">Rubrique</button></td>
                    <td>
                        <button type="button" class="btn btn-primary">Modifier</button>
                        <button type="button" class="btn btn-secondary">Cloturer</button>

                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Rubrique</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="inputTitre">titre Rubrique</label>
                        <input type="text" class="form-control" id="inputTitre" name="titreRubrique" placeholder="Titre rubrique">
                    </div>
                    <div class="form-group">
                        <label for="inputEstimation">Estimation</label>
                        <input type="number" class="form-control" id="inputEstimation" name="estimation" placeholder="Estimation">
                    </div>
                    <button type="submit" class="btn btn-primary">Ajouter</button>

                </form>
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Titre</th>
                            <th scope="col">Estimation</th> 
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>

                            <td>Dev Back</td>
                            <td>50</td>
                            <td>
                                <button type="button" class="btn btn-primary">Modifier</button>
                                <button type="button" class="btn btn-danger">Supprimer</button>

                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>