@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<style>
    .hiddenElement {
        display: none;
    }
</style>
<div class="card">
    <div class="card-header">
        Projet
    </div>
    <div class="card-body">
        <h5 class="card-title">Liste des projets</h5>
        <a class="btn btn-success" asp-action="Index" style="margin-left: 88%;">Ajouter projet</a>
        <br /><br />
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Titre</th>
                    <th scope="col">Date debut</th>
                    <th scope="col">Date fin</th>
                    <th scope="col">Estimation Total</th>
                    <th scope="col">Rubrique</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>

                    <td>projet1</td>
                    <td>04-11-2020</td>
                    <td>04-11-2021</td>
                    <td>0/255</td>
                    <td><button data-toggle="modal" data-target="#exampleModal" type="button" class="btn btn-info">Rubrique</button></td>
                    <td>
                        <button type="button" class="btn btn-primary">Modifier</button>
                        <button type="button" class="btn btn-secondary">Cloturer</button>

                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Rubrique</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div>
                    <div class="form-group">
                        <label for="inputTitre">titre Rubrique</label>
                        <input type="text" class="form-control" id="titreRubrique" name="titreRubrique" placeholder="Titre rubrique">
                    </div>
                    <div class="form-group">
                        <label for="inputEstimation">Estimation</label>
                        <input type="number" class="form-control" id="estimation" name="estimation" placeholder="Estimation">
                    </div>
                    <button onclick="addRubrique()" class="btn btn-primary">Ajouter</button>

                </div>
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Titre</th>
                            <th scope="col">Estimation</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody class="tabbody">
                        <tr class="TabRbrique hiddenElement">
                            <td class="id hiddenElement"></td>
                            <td class="Tabtitre">Dev Back</td>
                            <td class="TabEstimation">50</td>
                            <td>
                                <button type="button" class="btn btn-primary" onclick="ModifierRubrique(this)">Modifier</button>
                                <button type="button" class="btn btn-danger" onclick="SupprimerRubrique(this)">Supprimer</button>

                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="PostRubrique">Enregistrer</button>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        //var tab = [];
        function addRubrique(e) {
            var el = { titre: document.getElementById('titreRubrique').value, estimation: document.getElementById('estimation').value };
            //tab.push(el);
            //console.table(tab);
            var tabTbody = document.getElementsByClassName('tabbody')[0];
            var newRow = document.getElementsByClassName('TabRbrique')[0].cloneNode(true);
            newRow.classList.remove("hiddenElement");
            newRow.children[1].innerText = el.titre;
            newRow.children[2].innerText = el.estimation;
            tabTbody.appendChild(newRow);
        }
        function ModifierRubrique(em) {
            var parent = em.parentElement.parentElement;
            document.getElementById('titreRubrique').value = parent.children[1].innerText;
            document.getElementById('estimation').value = parent.children[2].innerText;
            var parent2 = em.parentElement;
            parent2.parentElement.remove(parent2);

        }
        function SupprimerRubrique(em) {
            var parent = em.parentElement;
            parent.parentElement.remove(parent);
        }

        $("#PostRubrique").on("click", function (e) {
            e.preventDefault();
            var columns = [
                "id",
                "titre",
                "estimation"
            ];
            var data = $(".tabbody tr").map(function (i) {

                if (!$(this).hasClass("hiddenElement")) {
                    var row = {};
                    $(this).find("td").each(function (i) {
                        if (i < 3) {
                            var rowName = columns[i];
                            row[rowName] = $(this).text();
                        }
                        
                    });
                    return row;
                }

            }).get();
            console.log(data);
            $.post("/Projet/AddRbrique", {
                rubriques : data
            }, function (e) {
                console.log(e);
            }, function (e) {
                    console.log(e);
            });


        });
    </script>

}
